<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            align-content: center;
        }
    </style>
</head>
<body>
<table border="1" id="1" >
    <tr>
      <td>&nbsp&nbsp&nbsp&nbsp&nbspID&nbsp&nbsp&nbsp&nbsp&nbsp</td>
      <td>图书名称</td>
    </tr>
    <tr>
      <td>&nbsp&nbsp&nbsp&nbsp&nbsp1&nbsp&nbsp</td>
      <td>JAVA学习宝典</td>
    </tr>
    <tr>
        <td>c++</td>
        <td>333</td>
    </tr>
</table>

</body>
</html>